# — Exclude large data files and models —
train.npy
/data_SMPL/*
/data_CMU/*
PBNS/Data/smpl/*.pkl
PBNS/Data/train.npy
output/

__pycache__/
*.py[cod]
*$py.class
*.so
build/
dist/
*.egg-info/
.env
.envrc
*.log
.ipynb_checkpoints/
